$white: #fff;
$black: black;
$box-shadow-primary:#111;
$light-grey: #d1d1d1;
$dark-grey: #767676;
$background-grey: #f5f5f5;
$card-background: #0000000d;
$grey:grey;
$primary-blue:#0094dd;
$search-container-text: #3b3734;
$wishlist-container-background: #0000000d;
$primary-grey: #dedede;
$error-grey: #eee;
$error-red: #d9534f;
$error-danger-bg:rgba(217, 83, 79, 0.1);
$error-info-bg: #e6f7ff;
