
.image-wrapper {
  background-image: url('../../../assets/header-photo.jpeg');
  background-size:cover;
  position: relative;
  padding-bottom: 30px;
  height: 20rem;
 }

 .content-wrapper{
   min-height: 10rem;
   position: relative;
   margin: 0 -1rem 0 -1rem;
 }
